; 配置代理

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[http "https://github.com"]
    proxy = socks5://127.0.0.1:7890

; 不对中文字符做转义

[core]
	quotepath = false
[user]
	email = iveoname@gmail.com
	name = Sharp Zhou
